@font-face {
  font-family: "Raleway-Medium"; 
  src: url("./fonts/Raleway-SemiBold.woff") format("woff");
}

body {
  font-family: "Raleway-Medium", "Roboto", sans-serif;
}


h1 {
  font-weight: 500;
  font-size: 2rem;
  color: #1976d2;
  /* padding: 24px; */
}

.heading {
  padding: 24px;
}
